#progressBarContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 1000;
}

#progressBar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    transition: width 0.4s ease;
}

#loadingText {
    color: black;
    margin-top: 5px;
}