.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px;
    position: absolute;
}

.green-dot {
    background-color: #28a745;
}

.blue-dot {
    background-color: #007bff;
}

#bee-swarm-container {
    position: relative;
    height: 500px;
}