body {
    height: 100%;
    margin: 0;
}

.sidebar {
    background-color: #e3f2fd;
}

.content-area {
    padding: 20px;
}

.navbar {
    background-color: #007bff;
}

a,
a:visited {
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #007bff;
}

.footer {
    background-color: #f8f9fa;
    color: #212529;
}

.top-bar .input-group {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .video-overlay h1 {
        font-size: 2rem;
    }
}

#background-video {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 1;
}

.sidebar {
    z-index: 1;
    min-height: 100vh;
    background-color: #fff;
}

.video-overlay {
    position: relative;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

main {
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 5rem;
}

.nav-link {
    font-size: 1.5rem;
}

.search-container {
    max-width: 500px;
    margin: auto;
}

.custom-margin {
    margin-top: 20%;
}

.input-group .form-control {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: none;
}

.input-group .form-control.transparent-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#button-search {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

#button-search:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.card {
    position: relative;
}

.card-body {
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.transparent-input {
    background-color: rgba(255, 255, 255, 0.5);
}