.player-header {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.player-header h1 {
    font-size: 2.5em;
}

.jersey-number {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}

.player-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    gap: 20px;
    margin-top: 20px;
}

.info>div:first-child {
    font-weight: bold;
}

@media (max-width: 768px) {
    .player-info {
        grid-template-columns: 1fr 1fr;
    }

    .player-header {
        flex-direction: column;
    }

    .player-header h1 {
        font-size: 2em;
    }
}